@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
}

main{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(0, 0%, 100%); 
    width: 420px;
    margin-top: 70px;
    border-radius: 10px;
}

.container{
    padding: 0 10px 10px 10px;
    text-align: center;
}

.container h1{
    color: hsl(218, 44%, 22%);
}

.container p{
    color: hsl(220, 15%, 55%);
}

img{
    border-radius: 10px;
    max-width: 370px;
    margin: 25px 25px 25px 25px;
}

