body{
    background-color: hsl(212, 45%, 89%);
}

main{
    background-color: hsl(0, 0%, 100%); 
    width: 420px;
    margin: auto;
    margin-top: 70px;
    border-radius: 10px;
}

.container{
    padding: 0 10px 10px 10px;
    text-align: center;
}

.container h1{
    color: hsl(218, 44%, 22%);
    margin: 0   ;
}

.container p{
    color: hsl(220, 15%, 55%);
}

img{
    border-radius: 10px;
    max-width: 370px;
    margin: 25px 25px 25px 25px;
}

div{
    padding-bottom: 10px;
}